.Container
{
    width: 20px;
}
.inputs
{
   margin: 10px auto;
   width: 350px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
   
}
.table li
{
    background-color: rgb(124, 189, 255);
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}